    {{>partials/header}}

    <section>

        <p>Olá {{nome}}, seja bem vindo! </p>
        
            {{#exibirIdade}}
                Você é maior de idade
            {{/exibirIdade}}

        </section>

    {{>partials/footer}}