{{>partials/header}}

<h1>Bem vindo - Faça seu Login</h1>

<form method="POST" action="login-acesso">

<label>Nome de usuário ou E-mail: </label>
<input type="text" name="email" placeholder="digite aqui"><br/>
<br/>

<label>Senha: </label>
<input type="password" name="password" placeholder="digite aqui">

<input type="submit" value="Enviar">

</form>

{{>partials/footer}}