{{>partials/header}}

<form method="GET">
    <h2>Qual o seu nome?</h2>
    <input type="text" name="nome" placeholder="Digite o seu nome">
    <button type="submit">Enviar</button>
</form>


{{#nome}}
    Opa, {{nome}} tudo bem?
{{/nome}}


{{>partials/footer}}